.contact {
    visibility: hidden;
    position: relative;
    width: 100%;
    background-color: #cccccc;
    z-index: 30;    
}


.form__Contact {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
