.contact {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 30;
}

.contact__Background {
  display: none;
  position: absolute;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  left: -66%;
}

.contact--active .contact__Background {
  transform: translateX(66%);
}

.contact__Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 20;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: nowrap;
  width: auto;
  margin: 0 4em;
  padding: 0 0 4em 0;
}

.contact__Intro {
}

.contact__Subhead {
  margin: 0;
}

.contact__Description {
  color: #efeee1;
  text-decoration: none;
  font-size: 1.8em;
  margin: 0 0 2em 0;
  hyphens: none;
}

.contactElem {
  display: block;
  position: absolute;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

.contactElem__0 {
  top: 0;
  right: 66%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotate(11deg) scaleY(100);
  z-index: 30;
  border: 2px solid #95afc6;
}

.form__Contact {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.form__Contact__Label {
  color: #efeee1;
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
}

.form__Contact__Input,
.form__Contact__Textarea {
  font-size: 1.4em;
  margin: 0 0 1em 0;
  padding: 0.25em;
  width: 100%;
}

.form__Contact__Textarea {
  height: 8em;
}

.form__Contact__Button {
  color: #efeee1;
  font-family: botanika-web, sans-serif;
  font-weight: 600;
  background-color: #da7317;
  border: 2px solid #efeee1;
  border-radius: 6px;
  font-size: 1.2em;
  padding: 0.5em;

  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition: 0.1s;
}

.form__Contact__Button:hover {
  background-color: #efeee1;
  border-color: #da7317;
  color: #000000;
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .contact {
    position: absolute;
    flex-direction: row;
    background: linear-gradient(45deg, #15368a 0%, #25479e 100%);
  }

  .contact__Background {
    display: block;
  }

  .contact__Wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact__Intro {
    justify-content: center;
    height: 100%;
    width: 33%;
    margin: -4em 1em 0 0;
  }

  .contact__Subhead {
    margin: 0 0 0 32px;
  }

  .contact__Description {
    margin: 0 0 0 32px;
  }

  .form__Contact {
    width: 50%;
  }
}
