.fade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: auto;
}

.fade__Background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-130px);
  width: calc(100% + 130px);
  height: 100%;
  background-image: url(../images/background.svg);
  background-repeat: repeat;
  animation-name: fadeBackgroundAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: none;
}

.fade__Background__0 {
  animation-duration: 12s;
  z-index: 10;
  background-color: #0f111e;
  background-size: 130px 113px;
}

.fade__Background__1 {
  animation-duration: 6s;
  z-index: 20;
  background-size: 260px 226px;
  background-color: transparent;
}

@keyframes fadeBackgroundAnimation {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(0px);
  }
}

.fade__Wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fade__Description {
  color: #efeee1;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}

.card__fade {
  margin: 0 0 4em 0;
  z-index: 20;
}

@media only screen and (min-width: 768px) {
  .fade {
    visibility: hidden;
    position: absolute;
  }

  .fade__Wrapper {
    padding: 0;
    width: 60%;
    flex-wrap: wrap;
  }

  .card__fade {
    width: 30%;
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition: opacity 0.5s;
    transform-style: preserve-3d;
    margin: 0 1em 1em 1em;
  }
  .card__fade.fade--active {
    opacity: 1;
  }
  .fade__Background {
    display: block;
  }

  .fade__Wrapper {
    flex-direction: row;
    justify-content: space-around;

    height: calc(100% - 65px);
  }

  .fade__Intro {
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    padding: 0.25em 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .fade__Subhead,
  .fade__Description {
    margin: 0 0 0 32px;
  }

  .fade__Description {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 768px) and (max-height: 800px) {
  .fade__Wrapper {
    width: 70%;
  }

  .card__fade {
    width: 25%;
  }
}
