.fade {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  visibility: hidden;
  position: relative;
}

.fade__Wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
  width: 100%;
  height: 100%;
  padding: 2em 0 4em 0;
  flex-direction: column;
  flex-wrap: nowrap;
}

.fade__Intro {
  z-index: 20;
  margin: 0;
  padding: 1em 1em 1em 4em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.fade__Description {
  color: #efeee1;
  font-size: 2em;
  margin: 0;
  padding: 0;
}

.fade__Background {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-130px);
  width: calc(100% + 130px);
  height: 100%;
  background-image: url(../images/background.svg);
  background-repeat: repeat;
  animation-name: fadeBackgroundAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: none;
}

.fade__Background__0 {
  animation-duration: 12s;
  z-index: 10;
  background-color: #0f111e;
  background-size: 130px 113px;
}

.fade__Background__1 {
  animation-duration: 6s;
  z-index: 20;
  background-size: 260px 226px;
  background-color: transparent;
}

@keyframes fadeBackgroundAnimation {
  0% {
    transform: translateX(-130px);
  }
  100% {
    transform: translateX(0px);
  }
}

.fade__Image {
  margin: 0 0 4em 0;
  z-index: 20;
}

@media only screen and (min-width: 769px) {
  .fade {
    position: absolute;
  }

  .fade__Intro {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .fade__Subhead {
    margin: 0 0 0 32px;
  }

  .fade__Description {
    margin: 0 0 0 2em;
  }

  .fade__Wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fade__Image {
    width: 30%;
    opacity: 0;
    transition-timing-function: ease-in-out;
    transition: opacity 0.5s;
    transform-style: preserve-3d;
    margin: 0 1em 1em 1em;
  }

  .fade__Image.fade--active {
    opacity: 1;
  }
}
