body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: botanika-web, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  display: block;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.header__Main {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 40;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #da7317;
  border-radius: 0.25em;
}

.button__Main {
  margin: 0 10px;
  font-size: 1em;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #efeee1;
  font-family: botanika-web, sans-serif;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0a0918;
}

.view__Header {
  display: none;
}

#elem0 {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#elem1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
}

#elem2 {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
}

#elem3 {
  visibility: hidden;
  position: relative;
  width: 100%;
  background-color: #cccccc;
}

.scale {
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

.scale__Article {
  display: flex;
  align-items: center;
  line-height: 2em;
  height: 100%;
}

.wipe {
  position: absolute;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

.wipe__Background {
  background-color: #cccccc;
  height: 100%;
  z-index: 10;
}

.wipe__Content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 20;
  width: 60%;
  height: 100%;
}

.wipe__Article {
  background-color: #999999;
  border: 1px solid #000000;
  z-index: 20;
  width: auto;
  margin: 1em;
}

.wipe__Content {
  font-size: 1em;
}

.fadeIn {
  position: relative;
  display: block;
  overflow: auto;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

.fadeIn__Background {
  position: fixed;
  top: 0;
  background-image: url(../images/bg.png);
  width: 100%;
  height: 100%;
}

.fadeIn__Article {
  opacity: 0;
  background-color: #999999;
  width: 40%;
  border: 1px solid #000000;
  z-index: 20;
  transform: rotateX(180deg);
}

.fadeIn__Article.fade {
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition: transform 1s opacity 0.4s;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}

.form__Contact {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header__Main {
    display: block;
  }
}
