body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: botanika-web, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  display: block;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.header__Main {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 40;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #da7317;
  border-radius: 0.25em;
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition: transform 1s opacity 0.4s;
}

.header__Main--hide {
  opacity: 0;
}

.button__Main {
  margin: 0 10px;
  font-size: 1em;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #efeee1;
  font-family: botanika-web, sans-serif;
}

.button__Close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  color: #efeee1;
  font-size: 3em;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.view__Header {
  display: none;
}

#elem0 {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#elem1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

#elem2 {
  visibility: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#elem3 {
  visibility: hidden;
  position: relative;
  width: 100%;
  background-color: #cccccc;
}

.drawText {
  opacity: 0;
  transition: 0.125s;
  transition-delay: 0.25s;
  transition-timing-function: ease-out;
}

.drawText--Active {
  opacity: 1;
}

.article__Text,
.article__Tech {
  color: #000000;
  font-size: 2em;
  padding: 0.5em 1em;
  margin: 0;
}

.article__Image {
  /* width: 100%;
  height: auto; */
  max-width: 100%;
  height: auto;
  /* width: inherit; */
  object-fit: contain;
}

.fadeIn {
  position: relative;
  display: block;
  overflow: auto;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

.fadeIn__Background {
  position: fixed;
  top: 0;
  background-image: url(../images/bg.png);
  width: 100%;
  height: 100%;
}

.fadeIn__Article {
  opacity: 0;
  width: 40%;
  border: 1px solid #000000;
  z-index: 20;
  transform: rotateX(180deg);
}

.fadeIn__Article.fade {
  opacity: 1;
  transition-timing-function: ease-in-out;
  transition: transform 1s opacity 0.4s;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
}

.form__Contact {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header__Main {
    display: block;
  }
}
