.wipe {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: auto;
}

.wipe__Background {
  position: absolute;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: #1d3885;
}

.wipe__Wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 20;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: nowrap;
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 2em 0 4em 0;
  transition-timing-function: ease-in-out;
  transition: 0.2s;
}

.wipe__Wrapper--active {
  left: 0;
  transform: translateX(0px);
  width: 100%;
  height: 100%;
  margin: 0;
}

.wipe__Intro {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  z-index: 20;
  margin: 1em 1em 1em 4em;
}

.wipe__Description {
  margin: 0;
  padding: 0;
  font-size: 1.8em;
  color: #efeee1;
  line-height: 1.4;
  letter-spacing: 0.05em;
  hyphens: auto;
}

.wipe__Image {
  z-index: 20;
  margin: 0 0 4em 0;
}

.wipe__Image:first-child {
  margin-left: 0;
}

.wipe__Image:last-child {
  margin-right: 0;
}

.wipeElem {
  display: block;
  position: absolute;
  transition-timing-function: ease-in-out;
}

.wipeElem__0 {
  top: 0;
  right: 66%;
  width: 100vw;
  height: 100vh;
  background-color: #e42900;
  border-right: 1em solid #0f111e;
  transform: rotate(11deg) scaleY(100);
  z-index: 30;
}

.wipeElem__1 {
  bottom: 0;
  right: 0;
  width: 52%;
  height: 47%;
  background-color: #e42900;
  border: 0px solid #0f111e;
  border-top-width: 1em;
  border-left-width: 1em;
  z-index: 20;
}

.wipeElem__2 {
  top: 15%;
  right: -48%;
  width: 100vw;
  height: 100vh;
  background-color: #e96d00;
  border-top: 1em solid #0f111e;
  transform: rotate(-38deg) scaleX(100);
  z-index: 10;
}

.shadowElem {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 40;
}

.shadowElem__0 {
  top: -87%;
  transform: rotate(-5deg) scaleX(100);
}

.shadowElem__1 {
  left: 80%;
  transform: rotate(10deg) scaleY(100);
}

.shadowElem__2 {
  top: 90%;
  transform: rotate(-10deg) scaleX(100);
}

.shadowElem__3 {
  left: -100%;
  transform: rotate(-15deg) scaleY(100);
}

@media only screen and (min-width: 768px) {
  .wipe {
    position: fixed;
    flex-direction: row;
  }

  .wipe__Wrapper {
    width: 60%;
    height: 90%;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1%;
    overflow: hidden;
    padding: 0;
  }

  .wipe__Intro {
    position: absolute;
    width: 33%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  .wipe__Image {
    width: 30%;
    max-width: 350px;
    flex-shrink: 1;
    margin: 0;
  }

  .wipe__Description {
    margin: 0 32px;
  }
}
